<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFEfJJiuvlgwxp4rrkuUTm5h3gEgekQ-U</string>
	<key>GCM_SENDER_ID</key>
	<string>14446496763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flowerApp</string>
	<key>PROJECT_ID</key>
	<string>my-new-pro-85606</string>
	<key>STORAGE_BUCKET</key>
	<string>my-new-pro-85606.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14446496763:ios:4295716eb26c7faec5595e</string>
</dict>
</plist>